.cell {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 34px;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
  cursor: pointer;
}

.shotted {
  color: darkblue;
}

.show-ship {
  background: grey;
}

.has-ship.shotted {
  color: darkred;
}